<div class="login">
  <login-form (onLoginClicked)="onLogin($event)"></login-form>

  <!-- <form action="">
    <label for="username" class="input-label">Username</label>
    <input
      [(ngModel)]="email"
      class="textbox input"
      name="email"
      placeholder="Enter your username..."
    />
  </form>
  <form action="">
    <label for="password" class="input-label">Password</label>
    <input
      [(ngModel)]="password"
      class="textbox input"
      type="password"
      name="password"
      placeholder="Enter your password..."
    />
  </form>

  <a href="" class="forgot-password">Forgot your password?</a>

  <button
    [ngClass]="{ disabled: loading }"
    (click)="onLogin()"
    class="login-button"
  >
    LOG IN
  </button> -->
</div>
