h2,
h3,
h4 {
  text-transform: capitalize;
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

.project-details {
  font-size: 18px;
  display: grid;
  width: 90vw;
  background-color: #fff;
  border: 1px solid rgba(188, 187, 187, 0.72);
  border-radius: 10px;
  padding: 2% 3% 1% 1%;
}

.project-title {
  margin-top: 1em;
  text-align: center;
  color: #514e7f;
}

.project-industry {
  text-transform: uppercase;
  width: 15%;
  margin: 0.75em 2em;
  padding: 0.25em 0.35em;
  text-align: center;
  border: 1px solid #f14336;
  border-radius: 0.25em;
  font-weight: 700;
  color: #f14336;
  box-shadow: 1px 2px;
}

.project-image {
  width: 25%;
  position: absolute;
  right: 10%;
  bottom: 12%;
}

.project-information {
  margin-left: 2em;
}

.project-skills {
  font-size: 16px;
}

.apply-button {
  display: block;
  margin: 0px auto;
  margin-top: 6em;
  padding: 8px 8px;
  text-align: center;
  justify-content: center;
  border: 1px solid #28b2ff;
  background-color: #28b2ff;
  color: white;
  border-radius: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
}

.apply-button:hover {
  cursor: pointer;
}

.participant-field {
  font-size: 0.7em;
  display: block;
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
  color:#514E7F;
  font-weight: bold;
  text-transform: uppercase;
}

.project-tags {
  color: rgba(0, 0, 0, 0.4);
  size: 1em;
  width: 100%;
  text-align: right;
}
