.skills-container {
  display: flex;
  flex-direction: column;
}

.skill-headers {
  text-decoration: underline;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.skill {
  margin-right: 5px;
}

.button {
  display: flex;
  height: 40px;
  background: white;
  border: 2px solid #28b2ff;
  color: #28b2ff;
  font-family: inherit;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0.55em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  min-width: 200px;
}
