.container-with-chevron {
  display: flex;
  align-items: flex-start;
}

.first-field {
  margin-right: 5%;
}

.first-field img {
  height: 100px;
  border-radius: 100px;
}

.chevron {
  width: 48px;
  cursor: pointer;
}
