<div class="project-details">

    <div class="project-industry">Web development</div>
    <h1 class="project-title">Insert Project Name here</h1>

    <main class="project-information">
        <section>
            <span>
                <p>Created by: Some guy</p>
            </span>
            
            <h3>Participants: </h3>
            <aside>
                <img class="industry-image" src="../../../assets/images/webdevelopment.svg">
            </aside>
            <h5>Skills needed: </h5>
        </section>  <br>

        <section class="project-description">
            <h3>Project description</h3>
            <h5>Insert some cool description here</h5>
        </section>
    </main>
</div>

<button type="submit" class="apply-button">Apply to join</button>
