.industries-container {
  display: flex;
  height: 30vh;
}

.component-header {
  display: inline-block;
  width: 50%;
  margin-top: 3vh;
}

.industry-card {
  display: flex;
  height: 20vh;
  width: 30%;
  padding: 1%;
  background-color: #fff;
  margin: 1% 4% 2% 0;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  transition: 0.1s all;
  cursor: pointer;
}

.industry-card:hover {
  box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.125);
}

.card-header {
  font-family: "Chilanka", cursive;
}
