<nav class="navbar-container">
  <div class="logo-container">
    <div routerLink="/" class="logo-link">
      <img
        class="logo-image"
        src="../../../assets/images/logo.png"
        alt="website logo"
      />
      <a class="logo-title">Lagalt</a>
    </div>
  </div>

  <div class="buttons-container">
    <ng-container *ngIf="!user; else elseTemplate">
      <app-login-button class="right-margin"></app-login-button>
      <app-register-button></app-register-button>
    </ng-container>
    <ng-template #elseTemplate>
      <button routerLink="/create-project">Create new project</button>
      <profile-menu
        (profileClicked)="onProfileClick()"
        (logoutClicked)="logout()"
      ></profile-menu>
    </ng-template>
  </div>
</nav>
