.navbar-container {
  display: flex;
  height: 15vh;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logo-container {
  display: flex;
  height: 50%;
  align-items: center;
  margin-left: 5%;
  flex: 1;
}

.logo-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.logo-link:active {
  outline: 1px solid black;
}

.logo-image {
  display: flex;
  height: 10vh;
  margin-right: 1vw;
}

.logo-title {
  font-family: "Chilanka", cursive;
  color: #000000;
  font-size: 1.5em;
  text-decoration: none;
}

.logo-title:visited {
  color: #000;
}

.search-bar {
  flex: 1;
}

.buttons-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 5%;
}

.right-margin {
  margin-right: 2%;
}

.profile-icon {
  display: flex;
  cursor: pointer;
}
