h1 {
  font-size: 48px;
  font-weight: 400;
}

.login {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.input {
  display: block;
  width: 50%;
  padding: 0.79em;
  border: 2px solid #bcbbbb;
  background-color: #eaeaea;
  border-radius: 0.55em;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0.8em;
  margin-bottom: 1.5em;
}

.input-label {
  text-align: left;
}

.login-button {
  display: flex;
  margin: 0 auto;
  width: 18%;
  height: 50px;
  background: white;
  border: 2px solid #28b2ff;
  color: #28b2ff;
  font-family: inherit;
  font-size: 22px;
  justify-content: center;
  border-radius: 0.55em;
  font-weight: 300;
  margin: 1em auto;
}
