<div 
    class="projects-container" 
    *ngFor="let project of projects">
        <div class="project-card">
            <div class="project-title">{{ project.name }}</div>
            <div class="project-description">{{ project.description }}</div>
            <div class="project-progress">{{ project.progress }}</div>
            <div class="project-industry">{{ project.industry }}
            </div>
            <button (click)="onProjectClicked(project.id)">Read more</button>
    </div>
</div>
