skills-modal {
  display: none;
}

skills-modal .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

skills-modal .modal .modal-body {
  width: fit-content;
  padding: 20px;
  background: #fff;
  margin: 40px;
}

skills-modal .modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}

body.modal-open {
  overflow: hidden;
}

h2 {
  margin-right: 20px;
}

.clickable {
  cursor: pointer;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.head-container {
  display: flex;
  justify-content: space-between;
}

.x {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}
