.application-container {
  text-align: center;
  background-color: #e5e5e5;
}

h3 {
  font-weight: 700;
  font-size: 32px;
}

.project-title {
  margin-top: 1em;
  color: #514e7f;
  font-weight: 700;
  font-size: 42px;
}

.input-forms {
  display: flex;
  justify-content: center;
}

.apply-button {
  width: 126px;
  height: 54px;
  padding: 0px 24px;
  background-color: #28b2ff;
  border: 2px solid #28b2ff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border-radius: 0.35em;
  margin-bottom: 32px;
}
