<div class="application-container">
  <h1 class="project-title">Apply for: Some project</h1>
  <h3>Please provide a reasoning for joining this project</h3>
  <main class="input-forms">
    <form [formGroup]="applicationForm" (ngSubmit)="submitApplication()">
      <textarea
        formControlName="application"
        name=""
        id=""
        cols="100"
        rows="10"
        class="textbox"
        required
      ></textarea><br>
      <button class="apply-button">Apply</button>
    </form>
  </main>

</div>
