<div class="project-details">
  <div class="project-industry">{{ project.industry }}</div>
  <h1 class="project-title">{{ project.name }}</h1>

  <main class="project-information">
    <section>
      <span>
        <p>Created by: {{ ownersSeparator(project.projectOwners) }}</p>
        <p>Created on: {{ project.dateCreated | date: 'longDate'}}</p>
      </span>

      <h3>Participants: {{ participantsCounter(project.projectActiveUsers) }}</h3>
      <aside>
        <img
          class="industry-image"
          src="../../../assets/images/webdevelopment.svg"
        />
      </aside>
      <h5>Skills needed:</h5>
      <div *ngFor="let skill of project.neededSkills" class="project-skills">
        {{ skill.skill }}
      </div>
    </section>
    <br />
    <section class="project-description">
      <h3>Project description</h3>
      <h5>{{ project.description }}</h5>
    </section>
  </main>
</div>

<button type="submit" class="apply-button" (click)="onApplyClicked(project.id)">
  Apply to join
</button>

<div class="project-tags"> <span *ngFor="let tag of project.tags"> #{{ tag }}</span></div>

