<div class="filter-container">
  <div 
    class="popular-sorter" 
    (click)="onPopularClicked()"
    [class.blue]="popularSelected">
      <div [innerHTML]="svgPopular" class="icon"></div>
      <div class="popular-title">Popular</div>
  </div>
  <div 
    class="new-sorter" 
    (click)="onNewClicked()"
    [class.blue]="newSelected">
      <div [innerHTML]="svgNew" class="icon"></div>
      <div class="new-title">New releases</div>
  </div>
  <div class="filter">
    <label for="filter">Choose industry </label>
    <form [formGroup]="industryChoice">
      <select 
        formControlName="industry" 
        (ngModelChange)="onIndustryChosen()">
        <option [value]="0">All industries</option>
        <option 
          *ngFor="let i of industries" 
          [value]="i.id"
        >
          {{ i.name }}
        </option>
      </select>
    </form>
  </div>
  <div 
    class="reset-button" 
    (click)="onResetClicked()"
  >
    Show all projects
  </div>
</div>
