<div class="filter-container">
  <div class="sorter">
    <label for="sorter">Sort by</label>
    <div>
      <select name="sorter" id="sorter">
        <option value="popularity">Popularity</option>
        <option value="date">Date (new first)</option>
      </select>
    </div>
  </div>
  <div class="new-and-tranding">
      <img src="../../../assets/images/new-release.svg" alt="new release icon"/>
      <div class="new-and-tranding-title">Tranding this month</div>
  </div>
  <div class="filter">
    <label for="filter">Choose industry</label>
    <div class="filter-selection">
      <form [formGroup]="industryChoice">
        <select formControlName="industry" (ngModelChange)="onIndustryChosen()">
          <option [ngValue]="null">All industries</option>
          <option *ngFor="let i of industries" [ngValue]="i.id">{{ i.name }}</option>
        </select>
      </form>
    </div>
  </div>
</div>
