h1 {
  font-size: 48px;
  font-weight: 400;
}

.register {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 77vh;
}

.input {
  width: 50%;
}

.input-label {
  text-align: left;
}

.register-button {
  display: flex;
  margin: 0 auto;
  width: 18%;
  height: 50px;
  background: white;
  border: 2px solid #28b2ff;
  color: #28b2ff;
  font-family: inherit;
  font-size: 22px;
  justify-content: center;
  border-radius: 0.55em;
  font-weight: 300;
  margin: 1em auto;
  cursor: pointer;
  outline: none;
}

.disabled {
  cursor: default;
  border: 2px solid grey;
}
