h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.project-creation-container {
    display: flex;
    align-items: center;
    min-height: 77vh;
}
  
.input-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-label input {
    width: 50vw;
}

.fileupload {
    font-family: inherit;
    margin: 1% 10%;
    font-size: 16px;
}

.fileupload input {
    width: 10vw;
}
  
.submit-button {
    width: 100vw;
    margin: 0 auto;
    width: 18%;
    height: 50px;
    background: #28b2ff;
    border: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    font-size: 22px;
    justify-content: center;
    border-radius: 0.55em;
    font-weight: 300;
    margin: 1em auto;
    cursor: pointer;
    outline: none;
}

.cancel-button {
    width: 100vw;
    margin-left: 2vw;
    width: 18%;
    height: 50px;
    background: white;
    border: 2px solid #28b2ff;
    color: #28b2ff;
    font-family: inherit;
    font-size: 22px;
    justify-content: center;
    border-radius: 0.55em;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.error {
    max-width: 50vw;
    border: 1px solid #F14336;
    color: #F14336;
}
  