img {
  height: 120px;
  border-radius: 100px;
}

h2 {
  text-decoration: underline;
}

.container {
  padding: 0 10%;
}

.profile-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skill-headers {
  text-decoration: underline;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.skill {
  margin-right: 5px;
}

.button {
  display: flex;
  height: 40px;
  background: white;
  border: 2px solid #28b2ff;
  color: #28b2ff;
  font-family: inherit;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0.55em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  min-width: 200px;
}

.image-name-container {
  display: flex;
  align-items: center;
}

.user-name {
  margin-left: 15px;
}

.textbox {
  width: -webkit-fill-available;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.bold {
  font-weight: bold;
}

.item-container {
  margin-bottom: 20px;
}
