<div class="user-container">
  <div class="profile-top">
    <h1 *ngIf="!user">User does not exist.</h1>
    <div class="image-name-container">
      <img [src]="user.image" />
      <h1 class="user-name">{{ user.name }}</h1>
    </div>

    <skills-container
      title="Skills:"
      [entitySkills]="user.skills"
      (removeSkill)="removeSkill($event)"
      (addSkill)="addNewSkill($event)"
    ></skills-container>
  </div>

  <textarea
    rows="10"
    class="textbox"
    [(ngModel)]="user.description"
    (blur)="sendUpdate({ description: user.description })"
    placeholder="Write someting about yourself"
    >{{ user.description }}</textarea
  >

  <div class="item-container">
    <h2>Portfolio:</h2>
    <input
      [(ngModel)]="user.portfolio"
      class="textbox"
      (blur)="sendUpdate({ portfolio: user.portfolio })"
      placeholder="Link to your portfolio"
    />
  </div>

  <p class="error" *ngIf="patchResponseMessage">
    {{ patchResponseMessage }}
  </p>

  <div class="item-container">
    <h2>Your projects</h2>
    <project-simple
      *ngFor="let project of activeProjects"
      [project]="project"
      (projectClicked)="toProjectDetails($event)"
    ></project-simple>
  </div>

  <div class="visibility-container">
    <h2>Profile visibility</h2>
    <div class="toggle-container">
      <span [ngClass]="{ bold: !toggled }">Visible to all users</span>
      <toggle-component
        [checked]="toggled"
        (toggle)="toggleHidden($event)"
      ></toggle-component>
      <span [ngClass]="{ bold: toggled }">Hidden</span>
    </div>
  </div>
</div>
