<div class="container">
  <h1>Log In</h1>

  <form [formGroup]="loginForm">
    <div class="form-field">
      <label for="email" class="input input-label">Email</label>
      <input
        class="textbox input"
        placeholder="Enter your email..."
        formControlName="email"
      />
    </div>
    <div class="form-field">
      <label for="password" class="input input-label">Password</label>
      <input
        class="textbox input"
        type="password"
        placeholder="Enter your password..."
        formControlName="password"
      />
    </div>
    <a href="" class="forgot-password">Forgot your password?</a>

    <button
      [ngClass]="{ disabled: isLoading$ | async }"
      (click)="onLogin()"
      class="button"
    >
      LOG IN
    </button>
  </form>

  <p *ngIf="error$ | async as error">{{ error }}</p>
  <p *ngIf="isLoading$ | async">Attempting to Login...</p>
</div>
