<div class="container">
  <h1>Log In</h1>

  <form [formGroup]="loginForm" class="form-wrapper">
    <div class="form-field">
      <label for="email" class="input input-label"
        >Email <span class="error-message">*</span></label
      >
      <input
        (focus)="onInputFocus()"
        class="textbox input"
        placeholder="Enter your email..."
        formControlName="email"
      />
    </div>
    <div class="form-field">
      <label for="password" class="input input-label"
        >Password <span class="error-message">*</span></label
      >
      <input
        (focus)="onInputFocus()"
        class="textbox input"
        type="password"
        placeholder="Enter your password..."
        formControlName="password"
      />
    </div>
    <div *ngIf="password.touched && password.invalid" class="error-message">
      Password must be at least 8 characters long.
    </div>

    <button
      [ngClass]="{
        disabled: (isLoading$ | async) || !loginForm.valid || (error$ | async)
      }"
      (click)="onLogin()"
      class="button"
    >
      LOG IN
    </button>
  </form>

  <p class="error-message" *ngIf="error$ | async as error">{{ error }}</p>
  <p *ngIf="isLoading$ | async">Attempting to Login...</p>
</div>
