* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

.textbox {
  font-family: inherit;
  background-color: rgb(245, 245, 245);
  border: 3px solid #28b2ff;
  border-radius: 0.75em;
  text-indent: 15px;
  resize: none;
  overflow: auto;
  font-size: 16px;
  padding: 5px 0;
}
.textbox:focus {
  outline-width: 0;
  background-color: white;
}
